body, html {
  box-sizing: border-box;
  background-color: #512DA8;
}

.flexmain {
    display: flex;
    /*border: 1px green solid;*/
    min-height: 99vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.flexbody {
  display: flex;
  /*border: 2px blue solid;*/
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.width {
  margin: 10px 10px 10px 10px;
  padding: 0;
}

.small {

}

.medium {

}

.large {

}

.huge {

}
.random {
  animation: colorchange 5s infinite;
  -webkit-animation: colorchange 5s infinite;
}
.random:hover{

}
.random:active{

}

@keyframes colorchange {
0%   {font-size:6vmin; }
50% {font-size:9vmin; }
100% {font-size:6vmin; }
}
@-webkit-keyframes colorchange {
0%   {font-size:6vmin; }
50% {font-size:9vmin; }
100% {font-size:6vmin; }
}

.pageinstruct {
  font-family: 'Roboto Slab';
  font-weight: 400;
  text-align: center;
  margin: 15px 0 -10px 0;
  padding: 0;
  color: #ecf0f1;
}


button {
  background-color: #323232;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 6vmin;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  width:  40vmin;
  height: 40vmin;
}
button:hover {
  background-color: #1a1919;
}
button:active {
  background-color: #000000;
}
